<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Email</title>
</head>
<body>
	<div class="container text-center"> 
		<h2>Here is your matched jobs based on your job selection</h2> 
	</div>
<div id="results" class="results">
			<h2>Search Results:</h2> 
			<div class="row">
				 
			<ol>
			<tr th:each="data1, iterstat1: ${jobs}">  
				 
				<tr th:each="data, iterstat: ${data1}"> 
					<p>  </p> 
					<li  th:text="${data}" th:id="|td${iterstat.index}|"> </li>
			 </tr>
			 <p>  <hr/> </p>
			 </tr>
			</ol> 
		</div>
</div>
</body>
</html>